{
  "extends": "smartprocure",
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "plugins": ["jest"],
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "no-extra-semi": 0,
    "no-console": 0
  }
}
